.work {
  //   position: absolute;
  //   overflow: hidden;
  //   clip: rect(0 0 0 0);
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0px;
    background-color: var(--white-color);
    &__list-item {
      position: relative;
    }
    .work__list {
      display: flex;
      flex-wrap: wrap;
    }
    .work__title {
      color: var(--primary-text-color);

      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
    }
    .work__list-item:nth-child(2) {
      margin-left: 29px;
      margin-right: 30px;
    }

    .work__addition {
      position: absolute;
      bottom: 0;
      left: 1px;
      display: flex;
      width: 100%;
      background-color: rgba(47, 48, 58, 0.8);
      font-style: normal;
      font-weight: 700;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
      justify-content: center;
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }
}
