:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-text-color: #2196F3;
    --white-color: #ffffff;
    --black-color: #000000;
    --herobot-bcg-color: #2F303A;
    --team-background-color: #F5F4FA;
    --button-background-color: #188CE8;
    --bot-textnav-color: rgba(255, 255, 255, 0.6);
    --boder-bot-color: #ECECEC;
    --border-porfolio-color: #EEEEEE;
    --bg-img-color: #c4c4c4;
    --filling-icon: rgba(175, 177, 184, 1)
}